APP_NAME="Fourmix Intelligence SDK Demo"
APP_ENV=local
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:48095
APP_TIMEZONE=Asia/Tokyo
APP_LOCALE=ja
APP_FALLBACK_LOCALE=ja
APP_FAKER_LOCALE=ja_JP
DB_CONNECTION=sqlite
SESSION_DRIVER=file
SESSION_COOKIE=fourmix_sdk_demo_session
CACHE_STORE=file
QUEUE_CONNECTION=sync
MAIL_MAILER=log
