/.env
/vendor
/node_modules
/database/*.sqlite*
/bootstrap/cache/*.php
/storage/*.key
/storage/*.sqlite*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!**/.gitignore
/.phpunit.cache
